@import "compass/css3";
@import "compass/utilities";


.select2-results{
  input[type="ckeckbox"]{
    margin: 0px;
  }
}

.circle{
  $width: 10px;
  $height: 10px;
  width: $width;
  height: $height;
  @include border-radius($width / 2);
  display: inline-block;
  margin: 0px 3px 0px 3px;
  &.red{
    background: Red
  };
  &.green{
    background: Green
  }
  &.blue{
    background: Blue
  }
}
